.navbar {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: #ff7f50;
  padding: 10px;
}

.navbar button {
  background-color: #ffe4b5;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #ffa500;
}

.navbar .left-button {
  position: absolute;
  right: 30px;
  margin-top: 7px;
}

.navbar .left-button a {
  background-color: rgb(218, 2, 2);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.navbar .left-button a:hover {
  transition: all ease-in-out .2s;
  background-color: rgb(100, 0, 0);
  color: white;
}